@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --aqua: #a5f3fc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  @apply transition-transform transform hover:scale-105 hover:shadow-xl hover:border-white;
}

a:hover {
  animation: borderPulse 0.3s ease forwards;
}

@keyframes borderPulse {
  0% {
    border-color: transparent;
    color: transparent;
  }
  50% {
    border-color: var(--aqua);
    color: var(--aqua);
  }
  100% {
    border-color: var(--foreground);
    color: var(--foreground);
  }
}
